body{
    background-color: brown;
    color:coral;
}

div{
    background-color: darkslategray;
    color: aquamarine;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 20px;
    font-family: Arial;
    border: 4px outset orange;
    border-radius: 15px 2px;
    display: inline-block;
}

img{
    height: 150px;
    width: 150px;
    border: 8px dashed black;
    margin: 10px 0;
    padding: 10px;
}