body{
    background-color: rgb(25, 25, 25);
}

h1{
    color: red;
    font-size: 40px;
    font-family: Arial;
}

img{
    height: 200px;
    border: 10px solid green;
    border-radius: 20px;
}

img:hover{
    border: 10px solid red;
}