body{
    background-color: rgb(25, 25, 25);
    color: bisque;
    font-family: Verdana;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

#logo{
    height: 50px;
}

#stop{
    border: 1px solid bisque;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

#stop > div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

#stop > div > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

#stop > div > label{
    display: flex;
    align-items: center;
    gap: 5px;
}

.entradas{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
}

.entradas input{
    background-color: rgba(0, 0, 0, 0.5);
    color: bisque;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 125px;
}

.respostas{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

.respostas > div{
    background-color: rgba(0, 0, 0, 0.5);
    color: bisque;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

#letra{
    font-size: 30px;
    color: rgb(229, 61, 49);
    font-weight: bold;
}

select{
    background-color: rgba(0, 0, 0, 0.5);
    color: bisque;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

select > option{
    background-color: bisque;
    color: black;
    padding: 10px;
}

button{
    background-color: rgb(229, 61, 49);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 6px;
    color: bisque;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    border: 2px solid bisque;
    padding: 6px 12px;
}

input{
    cursor: pointer;
}

#tempo{
    background-color: bisque;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}