body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('background.gif');
    background-size: cover;
    background-position: center;
    font-size: 14px;
}

*{
    font-family: 'Arial';
}

#ficha{
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#fichapronta{
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 60px;
    display: none;
}

.perfil{
    display: flex;
    gap: 20px;
}

.perfil img{
    height: 115px;
    width: 115px;
    background-color: grey;
    border: 1px solid black;
}

.titulo{
    margin: 0;
    margin-bottom: 15px;
}

input, select{
    margin: 5px;
    padding: 6px 9px;
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 30px;
}

button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(166, 15, 166);
}

.aviso{
    color: red;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}