*{
    font-family: 'Arial';
}

body{
    margin: 0;
    background-color: rgb(50, 35, 56);
    color: rgb(117, 63, 140);
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    display: flex;
    padding: 0 50px;
    align-items: center;
    gap: 50px;
    img{
        height: 40px;
    }
}

.pesquisar{
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    input{
        padding: 8px;
        border: none;
        outline: none;
        width: 100px;
    }
    button{
        border: none;
        background-color: rgb(117, 63, 140);
        color: white;
        padding: 0 10px;
        cursor: pointer;
        font-size: 18px;
    }
}

main{
    margin: 25px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

p{
    color: rgb(178, 178, 178);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.cards > a{
    background-color: rgb(117, 63, 140);
    height: 140px;
    width: 140px;
    border-radius: 15px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    img{
        height: 70px;
        width: 70px;
    }
    label{
        cursor: pointer;
        font-size: 20px;
    }
}

.cards > a:hover{
    border: 2px solid white;
    scale: 1.1;
}

.container{
    display: flex;
    background-color: rgb(117, 63, 140);
    border-radius: 15px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.foto{
    height: 250px;
    width: 40%;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.texto{
    width: 60%;
    text-align: left;
}

#foto-bullying{
    background-image: url('img/bullying-foto.png');
}

.info{
    display: flex;
    align-items: center;
    gap: 5px;
    img{
        height: 20px;
    }
}