body{
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mapa{
    width: 80%;
    height: 300px;
}